@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,100;1,400&display=swap');

html {
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 500px;
}

.botones {
    align-self: flex-start;
    display: flex;
    gap: 20px;
}

.google-btn {
    background-color: #4790ff;
    border: none;
    border-radius: 5px;
    font-weight: 40px;
    display: flex;
    align-items: center;
    padding: 2px;
    cursor: none;
}

.google-btn:hover {
    opacity: 0.4;
}

.google-btn picture {
    width: 30px;
    height: 30px;
    background-color: white ;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.google-btn picture img {
    width: 80%;
}

.google-btn span {
    color: white;
    font-weight: 500;
    padding: 15px;
}

.twitter-btn {
    color:#4790ff;
    background-color: #4790ff;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    cursor: none;
}

.twitter-btn:hover {
    background-color: aliceblue;

}

.separador {
    display: flex;
    width: 100%;
    gap: 15px;
}

.separador hr {
    flex-grow: 1;
    border: none;
    border-top: 1px solid red;
}

.separador span {
    color:blue;
}

.section-input {
    display: flex;
    gap: 10%;
    width: 100%;
}

form{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
}

label {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label span {
    font-weight: 700;
}

.section-input label input {
    width: 90%;
    background-color: aliceblue;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    font-size: 14pt;
}

label input {
    width: 100%;
    background-color: aliceblue;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    font-size: 14pt;
    transition: background-color 0.5s, border 0.5s, box-shadow 0.5s;
}

label input:hover {
    background-color: white;
    border: solid 1px white;
    box-shadow: 0 0 4px #4790ff;
}

label input:focus {
    background-color: white;
    border: solid 1px white;
    box-shadow: 0 0 4px #4790ff;
}

.checkbox-label {
    display: flex;
    flex-direction: row;
}

.checkbox-label input [type="checkbox"] {
    width: 20px;
}

.checkbox-label span {
    font-weight: 400;
}

.submit-btn {
    background-color: #EA4C89;
    color: white;
    font-weight: 500;
    font-size: 16pt;
    text-align: center;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: none;
}

.submit-btn:hover {
    opacity: 0.75;
}